# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
*.key
*.p12
*.crt
*.pem
./202506300359241.xml
build/
.temp/
temp/
*.iml
.e32menores250k/
e32menores250k/
test/ecfs/
test/ecfs2.0/
test/aprobaciones/
test/test.invoice.dart
temp_1/
temp_2/
temp_3/
temp_4/
temp_5/
temp_6/
temp_7/
pdfs_words/
viscaya/
viscaya-reales/
rvauto/
rvauto-reales/
fylauto/
fylauto-reales/
urls/
sailyn/